:root {
  /* COLORS COMPONENTS */

  --yellow: rgb(253, 196, 70);
  --blue: rgb(123, 180, 254);
  --white: rgb(247, 247, 240);
  --dark: rgb(47, 47, 47);

  /* COLORS STATUS */

  --stt-green: #198754;
  --stt-yellow: #ffc107;
  --stt-purple: #6f42c1;
  --stt-red: #dc3545;

  /* RADIUS */
  --radius: 7px;

  /* BORDER */

  --border_md: 2px;
  --border_lg: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow-x: hidden;
}

#app {
  margin-top: 2rem;
}
